@import url('https: //fonts.google.com/specimen/Courier+Prime?query=courier+prime')

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier Prime ',
      monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier Prime',
    monospace;
}

